@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  background: #212121;
  overflow: hidden;
}

#app {
  width: 100vw;
}